[submodule "src/acquire-device-kit"]
	path = src/acquire-device-kit
	url = ../acquire-device-kit.git
	branch = main
[submodule "tests/acquire-video-runtime"]
	path = tests/acquire-video-runtime
	url = ../acquire-video-runtime/
	branch = main
[submodule "src/acquire-core-logger"]
	path = src/acquire-core-logger
	url = ../acquire-core-logger.git
	branch = main
[submodule "src/acquire-core-platform"]
	path = src/acquire-core-platform
	url = ../acquire-core-platform.git
	branch = main
[submodule "src/acquire-device-properties"]
	path = src/acquire-device-properties
	url = ../acquire-device-properties.git
	branch = main
[submodule "tests/acquire-device-hal"]
	path = tests/acquire-device-hal
	url = ../acquire-device-hal.git
	branch = main
[submodule "tests/acquire-driver-common"]
	path = tests/acquire-driver-common
	url = ../acquire-driver-common.git
	branch = main
